.bank-detail-page {
    .table-wrapper {
        width: 100%;
        overflow: auto;
        height: auto;
        max-height: 500px;

        @media only screen and (max-width: 768px) {
            overflow-y: hidden;
            max-height: 100%;
        }
        .table-bank {
            tbody {
                tr > td {
                    cursor: pointer;
                }
            }
        }
    }
    .footer-table {
        margin: 1em 0;
        width: 100%;
    }
}
