<!-- Sidebar Menu -->
<div class="ui vertical inverted sidebar menu">
    <a routerLink='/dashboard' class="active item">Dashboard</a>
    <a routerLink='/dashboard/bank' class="item">Bancos</a>
    <a class="item">Agencias</a>
    <a class="item">Reportes</a>
</div>

<div class="pusher">
    <div class="ui inverted vertical masthead center aligned segment">
        <div class="ui container">
            <div class="ui large secondary inverted pointing menu">
                <a class="toc item">
                    <i class="sidebar icon"></i>
                </a>
                <a routerLink='/dashboard' class="active item">Dashboard</a>
                <a routerLink='/dashboard/bank' class="item">Bancos</a>
                <a class="item">Agencias</a>
                <a class="item">Reportes</a>
                <div class="right item">
                    <a class="ui inverted button" (click)="showModal()">Logout</a>
                </div>
            </div>
        </div>
    </div>
    <div class="ui container">
        <router-outlet></router-outlet>
    </div>
</div>

<div id="logout-modal" class="ui mini modal">
    <div class="header"></div>
    <div class="content">
        <p class="text">¿Desea salir de esta sesión?</p>
    </div>
    <div class="actions">
        <div class="ui negative button">No</div>
        <div class="ui positive right labeled icon button">Si<i class="checkmark icon"></i></div>
    </div>
</div>
