<div class="ui stackable grid">
    <div class="row">
        <div class="ui header title-page">Dashboard</div>
    </div>
    <div class="row">
        <div class="eight wide column">
            <div class="filter">
                <form class="ui form">
                    <div class="field">
                        <input name="query" type="text" placeholder="Palabra de búsqueda" [(ngModel)]="query">
                    </div>
                    <button class="ui primary button" type="button" (click)="search()">Buscar</button>
                </form>
            </div>
        </div>
    </div>
    <div class="row">
        <div *ngIf="loading" class="ui active inverted dimmer">
            <div class="ui text loader"></div>
        </div>
        <div class="section-logs">
            <table class="ui green stackable table">
                <thead>
                    <tr>
                        <th class="center aligned">N°</th>
                        <th class="center aligned">Creado</th>
                        <th class="center aligned">Usuario</th>
                        <th class="center aligned">Nombre del Banco</th>
                        <th class="center aligned">Sucursal</th>
                        <th class="center aligned">Ubicacion</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let log of logs; let i = index;">
                        <td>{{ i + 1 }}</td>
                        <td>{{ log.created | date:'short' }}</td>
                        <td>{{ log.user_email }}</td>
                        <td>{{ log.bank_name }}</td>
                        <td>{{ log.branch }}</td>
                        <td>{{ log.location }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
